/* logo box contaier square design */
.logo-box--container {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 100px);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: absolute;
    top: 30%;
    left: 20%;
    opacity: 0.5;
    z-index: -100;
  
    span.small-box {
      display: block;
      background-color: rgb(14, 196, 202);
      margin: 0.2rem;
      animation: loading-effect 1s ease infinite;
      -webkit-animation: loading-effect 1s ease infinite;
  
      &:nth-child(3) {
        animation-delay: 1s;
        background-color: rgba(255, 0, 0, 0.377);
      }
      &:nth-child(2) {
        animation-delay: 0.9s;
        background-color: rgba(71, 165, 16, 0.377);
      }
      &:nth-child(6) {
        animation-delay: 0.9s;
        background-color: rgba(251, 255, 0, 0.774);
      }
      &:nth-child(1) {
        animation-delay: 0.8s;
        background-color: rgba(192, 12, 192, 0.377);
      }
      &:nth-child(5) {
        animation-delay: 0.8s;
        background-color: rgba(255, 0, 43, 0.226);
      }
      &:nth-child(9) {
        animation-delay: 0.8s;
      }
      &:nth-child(4) {
        animation-delay: 0.7s;
        background-color: rgba(255, 145, 0, 0.377);
      }
      &:nth-child(8) {
        animation-delay: 0.7s;
      }
      &:nth-child(7) {
        animation-delay: 0.7s;
      }
    }
  }