.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      -webkit-border-radius: 10rem;
      -moz-border-radius: 10rem;
      -ms-border-radius: 10rem;
      -o-border-radius: 10rem;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      position: relative;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      -webkit-transform: translateY(-0.3rem);
      -moz-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
      -o-transform: translateY(-0.3rem);
      box-shadow: 0 10px 20px rgba($color-black, 0.2);
  
      &::before {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        opacity: 0;
      }
    }
    &:active {
      transform: translateY(-0.1rem);
      -webkit-transform: translateY(-0.1rem);
      -moz-transform: translateY(-0.1rem);
      -ms-transform: translateY(-0.1rem);
      -o-transform: translateY(-0.1rem);
      box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }
    &--white {
      background-color: $color-white;
      color: $color-dark-grey;
      &::before {
        background-color: $color-white;
      }
    }
    &::before {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10rem;
      -webkit-border-radius: 10rem;
      -moz-border-radius: 10rem;
      -ms-border-radius: 10rem;
      -o-border-radius: 10rem;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
    }
  
    &--animated {
      animation: moveInBottom 0.5s ease-in-out 0.7s;
      -webkit-animation: moveInBottom 0.5s ease-in-out 0.7s;
      animation-fill-mode: backwards;
    }
  }