*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /*16 px === 1 rem */
}

body {
  font-family: "Lato", "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-dark-grey;
  padding: 3rem;
}